:root {
    --background: #000d13;
    --primary: #003146;
    --secondary: #003951;
    --accent: #0284c7;
    --border: rgba(255, 255, 255, 0.1);
    --red: #ef4444;
    --text: #e6edf3;
}

html {
    scrollbar-gutter: stable;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--text);
    padding: 0 15px 15px;
    overflow-x: hidden;
}

.almighty-honda {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    display: none;
}

body.civic-active .almighty-honda {
    display: block;
}

.civic-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: clamp(200px, 70vw, 900px);
    aspect-ratio: 16 / 9;
}

.civic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rim {
    position: absolute;
    width: 12.2%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.rim-front {
    top: 67%;
    left: 80%;
}

.rim-back {
    top: 67%;
    left: 19%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    user-select: auto;
    outline: none;
    -moz-appearance: textfield;
}

select {
    outline: none;
}
